.main-color-div{
    margin-bottom: 1rem;
    background-color: rgb(227, 229, 230);
    padding: 1rem
}

.color-title {
    color: rgb(49, 49, 49);
    margin: 0;
    text-transform:capitalize;
    margin-bottom: 0.6em;
}

.delete {
    padding: 0.6rem;
    background-color: rgb(246, 60, 60);
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.delete:hover {
    cursor: pointer;
    background-color: rgb(177, 43, 43);
}

.delete-icon {
    margin-right: 0.6rem;
}

.color-div {
    height: 60px;
    width: 100%;
    margin-bottom: 0.6rem;
}

